<ion-header>
  <ion-toolbar>
    <ion-title>Actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="contenedor">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Tarea 1</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Qué es el internet de las cosas
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Tarea 2</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Investigación historia de México
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Tarea 3</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Ensayo inglés
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>