ion-content {
  --background: white;
}

ion-card {
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

ion-card-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

ion-datetime {
  width: 100%;
  margin-top: 10px;
}

p {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  color: #3880ff;
}
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-item-img {
  width: 10%;
  height: auto;
  border-radius: 20px;
}