<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

   
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{ nombre }}</h2>
        <p>Puntos: 120</p>
      </ion-label>
    </ion-item>

   
    <ion-list>

      <ion-item routerLink="/home">
        <ion-label> Inicio</ion-label>
      </ion-item>

      <ion-item routerLink="/materias">
        <ion-label> Materias</ion-label>
      </ion-item>

      <ion-item routerLink="/actividades">
        <ion-label> Actividades</ion-label>
      </ion-item>

    </ion-list>

   
    <ion-list>
      <ion-item routerLink="/configuracion">
        <ion-label> Configuración</ion-label>
      </ion-item>
    </ion-list>

   
    <ion-button expand="block" routerLink="/login">
      Cerrar sesión
    </ion-button>

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">

  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Meritly</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>

  
    <ion-item lines="none">
      <ion-label>Bienvenido</ion-label>
        <ion-avatar>
  <img [src]="avatar">
</ion-avatar>
    </ion-item>

    
    <div class="main-container">


      <div class="calendar-section">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Selecciona una fecha</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-datetime
              presentation="date"
              locale="es-MX"
              (ionChange)="onDateChange($event)">
            </ion-datetime>

            @if (selectedDate) {
              <p>Fecha elegida: {{ selectedDate }}</p>
            }
          </ion-card-content>
        </ion-card>
      </div>


      <div class="tasks-section">

        <ion-card class="task-card">
          <ion-card-header>
            <ion-card-title>Tarea 1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Qué es el internet de las cosas
          </ion-card-content>
        </ion-card>

        <ion-card class="task-card">
          <ion-card-header>
            <ion-card-title>Tarea 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Investigación historia de México
          </ion-card-content>
        </ion-card>

        <ion-card class="task-card">
          <ion-card-header>
            <ion-card-title>Tarea 3</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Ensayo inglés
          </ion-card-content>
        </ion-card>

      </div>

    </div>

  </ion-content>

</div>
