div{
    background-color: white;
    font-style: italic;
}
.boton{
    background-color: #1E90FF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-style: initial;
}
.label{
    color: whitesmoke;
    font-style: italic;
}