<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>Registro</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   
    <ion-list>
       <div style="display:flex; flex-direction:column; align-items:center; margin-bottom:20px;">

  <ion-avatar style="width:120px; height:120px;">
    <img 
      [src]="imagenPreview || 'https://ionicframework.com/docs/img/demos/avatar.svg'" 
      alt="Avatar" />
  </ion-avatar>

  <br>

  <input 
    type="file" 
    accept="image/*"
    (change)="seleccionarImagen($event)"
    style="display:none"
    #fileInput
    (change)="seleccionarImagen($event)" />

  <ion-button size="small" (click)="fileInput.click()" class="boton">
    Agregar imagen
  </ion-button>

</div>
      <ion-item>
        <ion-label position="floating" class="label">Nombre(s)</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="label">Apellido(s)</ion-label>
        <ion-input type="text" [(ngModel)]="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="label">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="label">Número de teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="telefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" class="label">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="label">Confirmar contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

       <ion-item>
        <ion-label position="floating" class="label">Tipo de usuario</ion-label>
        <ion-select [(ngModel)]="tipoUsuario">
          <ion-select-option value="maestro">Maestro</ion-select-option>
          <ion-select-option value="alumno">Alumno</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button routerLink="/home" expand="block" class="boton" expand="block" 
(click)="registrarse()"
[disabled]="!nombre || !apellido || !correo || !telefono || !password || !confirmPassword || password !== confirmPassword">>
        
        Registrarse
      </ion-button>

    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
